.spinner {
  height: 2rem;
  width: 2rem;
  border: 6px solid;
  border-color: pink transparent pink transparent;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
